.container {
    margin-left: 300px;
    margin-right: auto;
}


form button {
    margin-top: 20px;
}

.error {
    display: block;
    margin-bottom: 10px;
    color: red;
}

@media screen and (max-width: 1180px) {
    .container {
       margin-left: auto;
       margin-top: 20px;
    }

    .col-6{
        width: 100%;
    }

    .col-4{
        width: 100%;
    }
}

