* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3 {
    font-weight: normal;
    font-family: 'Secular One', sans-serif;
}

form input, form button, p {
    font-family: 'Roboto', sans-serif;;
}

body {
    text-align: center;
}

.container {
    max-width: 640px;
    width: 100%;
    margin: 80px auto;
    outline: auto;
}

form input {
    display:block;
    padding: 4px;
    margin-top: 5px;
    width: 420px;
}

form {
    display: inline-block;
}

.container button {
    background-color: greenyellow;
    padding: 4px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    color: black;
    font-size: 15px;
    font-weight:bold;
}

button:hover {
    background-color:  rgb(129, 167, 74);
}

.error-message {
    background-color: red;
    padding: 6px;
    margin-top: 5px;
    color: white;
    font-weight: bold;
    outline: auto;
    outline-color: black;
    display: none;
}

.success-message {
    background-color:rgb(129, 167, 74);
    padding: 6px;
    margin-top: 5px;
    color: white;
    font-weight: bold;
    outline: auto;
    outline-color: black;
    display: none;
}